@{
    ViewBag.Title = "Quản lý Menu";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4"> Quản lý Menu. </p>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
    return;
}
@{
    var items = new DataTable();
    if (ViewBag.Data != null) { items = ViewBag.Data as DataTable; }
    var tmp = "";
}
<!-- DataTales Admins -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách menu <a href="@Url.Action("Update", "Menu", new { area = "Admin" })" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Thêm mới</a>  <a href="javascript:window.location.reload();" class="btn btn-primary btn-sm"> <i class="fa fa-sync"></i> Làm mới</a></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @if (items.Rows.Count == 0)
            {
                <div class="alert alert-warning">Không có dữ liệu phù hợp với truy vấn</div>
            }
            else
            {
                <table class="table table-bordered table-sm" id="tableadmins" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tiêu đề</th>
                            <th>Link</th>
                            <th>Đường dẫn</th>
                            <th>Thứ tự</th>
                            <th>Mã cha</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow r in items.Rows)
                        {
                            tmp = $"{r["css"]}".Trim(); if(tmp != "") { tmp = $"<i class=\"{tmp}\"></i> "; }
                            <tr data-id="@r["id"]">
                                <td><a href="@Url.Action("Update", "Menu", new { id=r["id"] })">@Html.Raw(tmp) @r["title"]</a></td>
                                <td>@r["link"]</td>
                                <td>@r["paths"]</td>
                                <td>@r["postion"]</td>
                                <td>@r["idfather"]</td>
                                <td>@r["note"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>