@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    var mode = ViewBag.mode as string;
    if(mode == "delete")
    {
    <div class="alert alert-info">Bạn có thực sự có muốn xoá Nhóm có ID '@ViewBag.id' không? <br /><a href="javascript:showgeturl('/Admin/Menu/Update?id=@ViewBag.id&layout=null&mode=forcedel');" class="btn btn-primary btn-sm"> <i class="fa fa-recycle"></i> Có </a></div>
        return;
    }
    ViewBag.Title = "Thêm mới menu";
    var item = new Dictionary<string, string>();
    var id = $"{ViewBag.id}";
    if (id != "")
    {
        ViewBag.Title = $"Cập nhật menu có ID: {id}";
        if (ViewBag.Data != null) { item = ViewBag.data as Dictionary<string, string>; }
    }
    var idfrom = $"frm{DateTime.Now.toTimestamp()}";
    var urlSelectFather = Url.Action("Select", "Menu", new { area = "Admin", showtree = 1 });
}
<h2>@ViewBag.Title</h2>
<form id="@idfrom" name="@idfrom" method="post">
    <input type="hidden" name="layout" value="null" />
    <input type="hidden" name="id" value="@ViewBag.id" />
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Menu cha [<a href="javascript:showgeturl('@urlSelectFather');"> Chọn </a>]</div></div>
            <input type="number" name="idfather" id="idfather" class="form-control" value="@item.getValue("idfather")" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Tiêu đề</div></div>
            <input type="text" name="title" id="title" class="form-control" maxlength="255" value="@item.getValue("title")" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Link</div></div>
            <input type="text" name="link" id="link" class="form-control" maxlength="255" value="@item.getValue("link")" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Đường dẫn</div></div>
            <input type="text" name="path" id="path" class="form-control" maxlength="255" value="@item.getValue("paths")" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Class</div></div>
            <input type="text" name="css" id="css" class="form-control" maxlength="255" value="@item.getValue("css")" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Thứ tự hiển thị</div></div>
            <input type="number" name="postion" id="postion" class="form-control clsnumber" value="@item.getValue("postion")" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Ghi chú</div></div>
            <input type="text" name="note" id="note" class="form-control" maxlength="255" value="@item.getValue("note")" />
        </div>
    </div>
    <div class="col-12">
        <a class="btn btn-primary btn-sm" href="javascript:postform('@idfrom','@Url.Action("Update", "Menu", new { area = "Admin", mode = "update" })')"> <i class="fa fa-fw fa-save"></i> Lưu lại </a>
        @if (id != "")
        {
            <a class="btn btn-primary btn-sm" href="javascript:postform('@idfrom','@Url.Action("Update", "Menu", new { area = "Admin", mode = "delete" })')"> <i class="fa fa-fw fa-recycle"></i> Xóa </a>
        }
        <a class="btn btn-primary btn-sm" href="@Url.Action("Index", "Menu", new { area = "Admin" })"> <i class="fa fa-fw fa-backward"></i> Quay lại </a>
    </div>
</form>
<script>
    function selectMenu(e, v) { $('#idfather').val(v); messageClose(); }
</script>