@{ 
    ViewBag.Title = "Quản lý tài khoản";
    var items = new DataTable();
    if(ViewBag.Data != null) { items = ViewBag.Data as DataTable; }
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4">
    Quản lý các tài khoản.
</p>
<!-- DataTales Admins -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách tài khoản <a href="javascript:showgeturl('@Url.Action("Update", "TaiKhoan", new { area = "Admin", layout = "null"})')" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Thêm mới</a>  <a href="javascript:window.location.reload();" class="btn btn-primary btn-sm"> <i class="fa fa-sync"></i> Làm mới</a></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="tableadmins" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th>Tên hiển thị</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Time create</th>
                        <th>Last Login</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (items.Rows.Count == 0)
                        {
                            <tr><td colspan="8">Không có dữ liệu phù hợp với truy vấn</td></tr>
                        }
                        else
                        {
                            foreach (DataRow r in items.Rows)
                            {
                                DateTime t1 = $"{r["time_create"]}".toDateTime();
                                DateTime t2 = $"{r["time_last_login"]}".toDateTime();
                            <tr>
                                <td><a href="javascript:showgeturl('@Url.Action("Update", "TaiKhoan", new { id=r["iduser"], layout="null" })');">@r["iduser"]</a></td>
                                <td>@r["ten_hien_thi"]</td>
                                <td>@r["gioi_tinh"]</td>
                                <td>@r["ngay_sinh"]</td>
                                <td>@r["Email"]</td>
                                <td>@r["dien_thoai"]</td>
                                <td>@r["dia_chi"]</td>
                                <td>@($"{r["time_create"]}" == "0" ? "" : $"{t1:dd/MM/yyyy HH:mm}")</td>
                                <td>@($"{r["time_last_login"]}" == "0" ? "" : $"{t2:dd/MM/yyyy HH:mm}")</td>
                            </tr>
                                }
                            }
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="alert alert-warning">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Nhấn vào tên đăng nhập để thay đổi thông tin tài khoản</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    /* $(document).ready(function () { $('#tableadmins').DataTable(); }); */
    @{ 
        if(ViewBag.Error != null)
        {
            Html.Raw($"messageBox('<div class=\"alert alert-warning\">{ViewBag.Error}</div>', 'Thông báo lỗi');");
        }
    }
</script>