@{
    var items = new DataTable();
    if (ViewBag.Data != null) { items = ViewBag.Data as DataTable; }
    var idForm = $"frm{DateTime.Now.toTimestamp()}";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">@ViewBag.Error</div>
}
<!-- DataTales Admins -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Update", "ImportExcel", new { area = "" }, FormMethod.Post, new { id = idForm, enctype = "multipart/form-data" }))
        {
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td style="width: 150px;" class="text-right">@Html.Label("bieu", "Chọn biểu nhập")</td>
                        <td>
                            @Html.DropDownList("bieu", new SelectList(new List<SelectListItem>
                            {
                                new SelectListItem { Value = "b02", Text = "B02. Thống kê KCB (tháng)"  },
                                new SelectListItem { Value = "b04", Text = "B04. Thống kê chi bình quân (tháng)"  },
                                new SelectListItem { Value = "b26", Text = "B26. Thống kê gia tăng chi phí KCB BHYT theo NĐ75 (theo ngày nhận)" }
                            }, "Value", "Text"), new { @class = "custom-select-sm" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">@Html.Label("inputfile", "Chọn tập tin")</td>
                        <td>
                            <input type="file" name="inputfile" id="inputfile" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="javascript:importData();" class="btn btn-primary btn-sm"><i class="fa fa-play"></i> Thực hiện</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>
<script>
    function importData() {
        if ($('#inputfile').val() == "") {
            messageBox("<i class=\"fa fa-warning\"></i> JS Thông báo lỗi", "<div class=\"alert alert-warning\">Bạn chưa chọn tập tin</div>");
            return;
        }
        /** Kiểu tra định dạng mở rộng tập tin */
        var ext = getFileExtension($('#inputfile').val()).toLowerCase();
        if (ext != "xls" && ext != "xlsx") {
            messageBox("<i class=\"fa fa-warning\"></i> JS Thông báo lỗi", "<div class=\"alert alert-warning\">Hệ thống không hỗ trợ tập tin có đuôi mở rộng '" + ext + "'</div>");
            return;
        }
        messageBox("JS Thông báo", "<div class=\"alert alert-info\">Vui lòng đợi hệ thống đẩy tập tin và xử lý tập tin <img alert=\"\" title=\"\" src=\"/images/loader.gif\"></img> </div>");
        postform('#@idForm');
    }
</script>