@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    ViewBag.Title = "Views File and Folder";
    var len = AppHelper.pathApp.Length;
    var idform = $"frmviewfile";
    var folders = ViewBag.folders as List<string>;
    var listfolder = ViewBag.listfolder as List<DirectoryInfo>;
    var listfile = ViewBag.listfile as List<FileInfo>;
    var idtarget = Request.getValue("idtarget");
}
<form id="@idform" method="post" action="@Url.Action("views", "TapTin", new { area = "Admin" })">
    <input type="hidden" name="layout" value="null" />
    <input type="hidden" name="path" value="@ViewBag.path" />
    <table class="table table-hover table-sm">
        <tbody>
            <tr><td>Từ khoá <input type="text" name="key" value="@ViewBag.key" /></td></tr>
            <tr><td><a class="btn btn-primary btn-sm" href="#" onclick="postform('@idform', '', '@idtarget')"> <i class="fa fa-search"></i> Tìm</a></td></tr>
        </tbody>
    </table>
</form>
<div class="font-weight-bold">
    Vị trí:
    @if (folders.Count > 0)
    {
        <a href="#" onclick="showgeturl('@Url.Action("views", "TapTin", new { area = "Admin", layout = "null" })&idtarget=@idtarget', '@idtarget');">[Thư mục gốc]</a>

        var tmpl = new List<string>();
        for (int i = 0; i < folders.Count; i++)
        {
            tmpl.Add(folders[i]);
            <span> / </span> <a href="#" onclick="showgeturl('@Url.Action("views", "TapTin", new { area = "Admin", layout = "null", path = string.Join(@"\", tmpl) })&idtarget=@idtarget', '@idtarget');"> @folders[i]</a>
        }
    }
</div>
<ol>
    @foreach (var f in listfolder)
    {
        <li> <a href="#" onclick="showgeturl('@Url.Action("views", "TapTin", new { area = "Admin", layout = "null", path = f.FullName.Substring(len) })&idtarget=@idtarget', '@idtarget');"> @f.Name </a> </li>
    }
    @foreach (var f in listfile)
    {
        <li> <a href="@Url.Action("Index", "Tai", new { area = "", @object = f.FullName.Substring(len).MD5Encrypt() })"> <i class="fa fa-download"></i> </a> @f.Name (@f.Length.getFileSize()) </li>
    }
</ol>