@{
    var linkHome = Url.Action("Index", "Home", new { area = "Admin" });
    var tmp = $"{Session["nhom"]}";
}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <li class="nav-item">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Html.Raw(linkHome)">
            <div class="sidebar-brand-icon"><img src="~/images/logo.png?v=@(System.IO.File.GetLastWriteTime(Server.MapPath("~/images/logo.png")).ToOADate())" /></div>
            <div class="sidebar-brand-text mx-3">@AppHelper.getConfig("App.Title")</div>
        </a>
    </li>
    @if (tmp == "0")
    {
        <li class="nav-item"> <!-- Divider --> <hr class="sidebar-divider d-none d-md-block" /> </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "TaiKhoan", new { area = "Admin" })"> <i class="fas fa-fw fa-user"></i> <span>Tài khoản</span> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Menu", new { area = "Admin" })"> <i class="fas fa-fw fa-list"></i> <span>Menu</span> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Nhom", new { area = "Admin" })"> <i class="fas fa-fw fa-list"></i> <span>Nhóm</span> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Data", new { area = "Admin" })"> <i class="fas fa-fw fa-database"></i> <span>Dữ liệu</span> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Cache", "Data", new { area = "Admin" })"> <i class="fas fa-fw fa-database"></i> <span>Dữ liệu tạm (Cache)</span> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "TapTin", new { area = "Admin" })"> <i class="fas fa-fw fa-file"></i> <span>Tập tin</span> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Config", new { area = "Admin" })"> <i class="fas fa-fw fa-cogs"></i> <span>Cấu hình</span> </a>
        </li>
        <li class="nav-item">
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block" />
        </li>
        <li class="nav-item">
            <!-- Heading -->
            <div class="sidebar-heading"> Danh mục</div>
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "DMTinh", new { area = "Admin" })"> <i class="fas fa-fw fa-list"></i> <span>Tỉnh</span> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "DMCSKCB", new { area = "Admin" })"> <i class="fas fa-fw fa-list"></i> <span>CSKCB</span> </a>
        </li>
    }
    <li class="nav-item">
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />
    </li>
    <li class="nav-item text-center">
        <!-- Sidebar Toggler (Sidebar) -->
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </li>
</ul>
<!-- End of Sidebar -->