@{
    ViewBag.Title = "Cấu hình hệ thống";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p>
                    <button type="button" onclick="AddNew();" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Thêm mới </button>
                    <a href="@Url.Action("variables")" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Xem Biến cố định</a>
                    <button type="button" onclick="window.location.reload()" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> Làm mới</button>
                </p>
            </div>
            <div class="panel-body" id="viewconfig">
                <table class="table table-hover table-bordered table-sm">
                    <thead><tr><th style="width: 200px;">Key</th><th>Value</th></tr></thead>
                    <tbody>
                        @foreach (var v in AppHelper.appConfig.Config.Settings)
                        {
                            <tr> <td><button type="button" class="btn btn-primary btn-sm" onclick="editconfig(this);">@v.Key</button></td><td>@v.Value</td> </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="alert alert-info">
            <ul>
                <li>threadload.sleep: (đơn vị tính giây) Thời gian chờ để kiểm tra xem còn thread nào chưa chạy hay bỏ sót; mặc định 600s (10 phút)</li>
                <li>maxSizeFileUploadMB: (đơn vị tính MB) Dung lượng file tối đa đẩy lên hệ thống</li>
            </ul>
        </div>
    </div>
</div>
<form method="post" action="@Url.Action("save")" id="frmAddConfig">
    <input type="hidden" id="cmd" name="cmd" value="0" />
    <div class="modal fade" id="myform" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Key</label>
                        @Html.TextBox("key", "", new { id = "key", @class = "form-control", placeholder = "viết liền không dấu" })
                    </div>
                    <div class="form-group">
                        <label>Value</label>
                        @Html.TextBox("value", "", new { id = "value", @class = "form-control", placeholder = "giá trị của từ khóa" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" onclick="saveConfig();"> <i class="fa fa-save"></i> Lưu lại </button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"> <i class="fa fa-remove"></i> Hủy </button>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts {
    <script>
        function saveConfig() { postform('frmAddConfig', '', '', viewConfig); }
        function editconfig(e) { $('#key').val($(e).text()); $('#value').val($(e).closest('tr').find('td').eq(1).text()); $('#myform').modal("show"); }
        function viewConfig() { showgeturl('@Url.Action("views")', 'viewconfig'); }
        function AddNew() { $('#key').val(''); $('#value').val(''); $('#myform').modal("show"); $('#key').focus(); }
        $(document).ready(function () { viewConfig(); });
    </script>
}