@{
    ViewBag.Title = "Danh mục CSKCB";
    if (ViewBag.Error != null)
    {
        @Html.Raw(ViewBag.Error)
        return;
    }
    var items = new DataTable();
    if (ViewBag.Data != null) { items = ViewBag.Data as DataTable; }
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tabHome"> <i class="fa fa-list"></i> Danh sách</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tabImport"> <i class="fa fa-file"></i> Nhập từ Excel</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div id="tabHome" class="tab-pane active">
        <!-- DataTales Admins -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách tỉnh <a href="javascript:showgeturl('@Url.Action("Update", "DMCSKCB", new { area = "Admin", layout = "null"})')" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Thêm mới</a>  <a href="javascript:window.location.reload();" class="btn btn-primary btn-sm"> <i class="fa fa-sync"></i> Làm mới</a></h6>
            </div>
            <div class="card-body">
                @if (items.Rows.Count == 0)
                {
                    <div class="alert alert-warning">Không có dữ liệu phù hợp với truy vấn</div>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tableadmins" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mã</th>
                                    <th>Tên CSKCB</th>
                                    <th>Mã tỉnh</th>
                                    <th>Mã cấp trên</th>
                                    <th>Tuyến CMKT</th>
                                    <th>Hạng DV</th>
                                    <th>Tên huyện</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow r in items.Rows)
                                {
                                    <tr>
                                        <td><input type="checkbox" class="custom-checkbox" value="@r["id"]" /></td>
                                        <td><a href="javascript:showgeturl('@Url.Action("Update", "DMCSKCB", new { objectid=r["id"], layout="null" })');">@r["id"]</a></td>
                                        <td>@r["ten"]</td>
                                        <td>@r["matinh"]</td>
                                        <td>@r["macaptren"]</td>
                                        <td>@r["tuyencmkt"]</td>
                                        <td>@r["hangdv"]</td>
                                        <td>@r["tenhuyen"]</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
        <div class="alert alert-warning">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Nhấn vào mã tỉnh để thay đổi thông tin</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Hiển thị các tiền trước nếu còn đang làm dỡ -->
    <div id="tabImport" class="tab-pane fade"></div>
</div>
<script>
    $(document).ready(function () {
        showgeturl('@Url.Action("Buoc1", "DMCSKCB", new { area = "", layout = "null" })&idtarget=tabImport', 'tabImport');
    });
</script>