@{
    ViewBag.Title = "Danh mục CSKCB";
    if (ViewBag.Error != null)
    {
        @Html.Raw(ViewBag.Error)
        return;
    }
    var idFromTruyVan = "frmgetdscskcb" + DateTime.Now.toTimestamp().ToString();
}
<link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/vendor/datatables/jquery.dataTables.js"></script>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tabHome"> <i class="fa fa-list"></i> Danh sách</a> </li>
</ul>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Danh sách tỉnh
            <button type="button" onclick="showgeturl('@Url.Action("Update", "DMCSKCB", new { area = "Admin", layout = "null"})')" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Thêm mới</button>
            <button type="button" onclick="window.location.reload();" class="btn btn-primary btn-sm"> <i class="fa fa-sync"></i> Làm mới</button>
            <button type="button" onclick="showgeturl('/Admin/DMCSKCB/Buoc1?layout=null');" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Nhập từ Excel</button>
        </h6>
    </div>
    <div class="card-body">
        <form id="@idFromTruyVan" name="@idFromTruyVan" method="post" action="/Admin/DMCSKCB/TruyVan?layout=null" target="_blank">
            <table class="table table-hover table-sm">
                <tbody>
                    <tr><td>Mã <input type="text" name="idobject" value="" maxlength="50" /> Tên <input type="text" name="ten" value="" maxlength="255" /></td></tr>
                    <tr><td>Mã tỉnh <input type="text" name="ma_tinh" value="@Session["idtinh"]" maxlength="50" /> Mã cấp trên <input type="text" name="macaptren" value="" maxlength="50" /></td></tr>
                    <tr><td>Tên huyện <input type="text" name="tenhuyen" value="" maxlength="255" /></td></tr>
                    <tr>
                        <td>
                            <button type="button" onclick="postform('@idFromTruyVan', '', 'dscskcbview');" class="btn btn-primary btn-sm"> <i class="fa fa-search"></i> Truy vấn</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div id="dscskcbview"></div>
    </div>
</div>
<div class="alert alert-warning">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Nhấn vào mã tỉnh để thay đổi thông tin</td>
            </tr>
        </tbody>
    </table>
</div>