@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    if (ViewBag.Error != null)
    {
        @Html.Raw(ViewBag.Error)
        return;
    }
    var items = new DataTable();
    if (ViewBag.Data != null) { items = ViewBag.Data as DataTable; }
    if (items.Rows.Count == 0)
    {
        <div class="alert alert-warning">Không có dữ liệu phù hợp với truy vấn</div>
        return;
    }
}
<table class="table table-bordered" id="dscskcb" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Tên CSKCB</th>
            <th>Mã tỉnh</th>
            <th>Mã cấp trên</th>
            <th>Tuyến CMKT</th>
            <th>Hạng DV</th>
            <th>Tên huyện</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow r in items.Rows)
        {
            <tr data-id="@r["id"]">
                <td><a href="javascript:showgeturl('@Url.Action("Update", "DMCSKCB", new { objectid=r["id"], layout="null" })');">@r["id"]</a></td>
                <td>@r["ten"]</td>
                <td>@r["ma_tinh"]</td>
                <td>@r["macaptren"]</td>
                <td>@r["tuyencmkt"]</td>
                <td>@r["hangdv"]</td>
                <td>@r["tenhuyen"]</td>
            </tr>
        }
    </tbody>
</table>