@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    var item = ViewBag.data as Dictionary<string, object>;
    var id = ViewBag.id as string;
    var idform = "frmdelcskcb" + DateTime.Now.toTimestamp().ToString();
}
<form id="@idform" name="@idform" method="post" action="@Url.Action("Update", "DMCSKCB", new { mode = "update" })">
    <input type="hidden" name="mode" value="update" />
    <input type="hidden" name="layout" value="null" />
    <input type="hidden" name="objectid" value="@ViewBag.id" />
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Mã</div></div>
            <input type="number" name="id" id="id" class="form-control" maxlength="10" value="@id" @((id == "" ? "" : "readonly"))/>
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Tên</div></div>
            @Html.TextBox("ten", item.getValue("ten"), new { @class = "form-control", maxlength = "255" })
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Thứ tự hiển thị</div></div>
            <input type="number" name="tt" id="tt" class="form-control clsnumber" maxlength="255" value="@item.getValue("tt")" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Ghi chú</div></div>
            @Html.TextBox("ghichu", item.getValue("ghichu"), new { @class = "form-control", maxlength = "255" })
        </div>
    </div>
    <div class="col-12">
        <a class="btn btn-primary btn-sm" href="#" onclick="postform('@idform');"> <i class="fa fa-fw fa-save"></i> Lưu lại </a>
    </div>
</form>