@if (Request.getValue("layout") == "null") { Layout = null; }
@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">@Html.Raw(ViewBag.Error)</div>
    return;
}
@{
    var idform = "frmbuoc3" + DateTime.Now.toTimestamp().ToString();
    var id = ViewBag.id as string;
    var idtarget = Request.getValue("idtarget");
}
<br />
<h2 class="font-weight-bold">BƯỚC 3: TẢI KẾT QUẢ CHO BÁO CÁO CÓ ID: @id</h2>
@if (ViewBag.files != null)
{
    var list = ViewBag.files as List<string>;
    <div class="alert alert-info">Danh sách tập tin đã xử lý</div>
    <ul>
        @foreach (var f in list)
        {
            <li>@f</li>
        }
    </ul>
}
@Html.Raw(Request.ShowRequest())
<div class="alert alert-info">Đang trong quá trình xây dựng</div>
<a href="#" class="btn btn-primary btn-sm" onclick="showgeturl('@Url.Action("Buoc1", "bcTuan", new { area = "", layout="null", idtarget=idtarget })', '@idtarget')"><i class="fa fa-refresh"></i> Tạo mới</a>