@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    ViewBag.Title = "Thông tin tài khoản";
    var item = new Dictionary<string, string>();
    if (ViewBag.Data != null) { item = ViewBag.data as Dictionary<string, string>; }
    var id = $"{ViewBag.id}";
    DataTable dmTinh = ViewBag.dmTinh == null ? new DataTable() : (DataTable)ViewBag.dmTinh;
}
<h2>@ViewBag.Title</h2>
<form id="frmUpdateQuanTri" name="frmUpdateQuanTri" method="post">
    <input type="hidden" name="layout" value="null" />
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Tên đăng nhập</div></div>
            <input type="text" name="iduser" id="iduser" class="form-control" maxlength="50" value="@Session["iduser"]" readonly />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Mât khẩu</div></div>
            <input type="text" name="mat_khau" id="mat_khau" class="form-control" maxlength="50" placeholder="Nếu không thay đổi mật khẩu thì bỏ trống" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Mã tỉnh làm việc</div></div>
            <select name="idtinh" id="idtinh" class="form-select">
                @foreach (DataRow row in dmTinh.Rows)
                {
                    if (item.getValue("idtinh") == row[0].ToString())
                    {
                        <option value="@row[0]" selected>@row[1]</option>
                    }
                    else
                    {
                        <option value="@row[0]">@row[1]</option>
                    }
                }
            </select>
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Tên hiển thị</div></div>
            <input type="text" name="ten_hien_thi" id="ten_hien_thi" class="form-control" maxlength="255" value="@item.getValue("ten_hien_thi")" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Email</div></div>
            <input type="text" name="email" id="email" class="form-control" maxlength="50" value="@item.getValue("email")" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Điện thoại</div></div>
            <input type="text" name="dien_thoai" id="dien_thoai" class="form-control" maxlength="50" value="@item.getValue("dien_thoai")" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Vị trí làm việc</div></div>
            <input type="text" name="vitrilamviec" id="vitrilamviec" class="form-control" maxlength="255" value="@item.getValue("vitrilamviec")" />
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary btn-sm" type="button" onclick="postform('frmUpdateQuanTri', '@Url.Action("TaiKhoan", "Home", new { mode = "update" })');"> <i class="fa fa-fw fa-save"></i> Lưu lại </button>
    </div>
</form>
