@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
    return;
}
@{
    ViewBag.Title = "BÁO CÁO TUẦN";
    var timeStampNow = DateTime.Now.toTimestamp().ToString();
    var idFormTruyVan = "bcThang2" + timeStampNow;
    var idViewTruyVan = "vbcThang2" + timeStampNow;
    var idForm = "bcThang" + timeStampNow;
    var idResult = "rsbcThang" + timeStampNow;
    DataTable dmTinh = new DataTable();
    if (ViewBag.dmTinh != null) { dmTinh = ViewBag.dmTinh as DataTable; }
    string tinhSelect = $"{ViewBag.tinhSelect}";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tabHome"> <i class="fa fa-list"></i> Báo cáo Lưu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tabImport"> <i class="fa fa-file"></i> Báo cáo mới</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div id="tabHome" class="tab-pane active">
        @using (Html.BeginForm("TruyVan", "bcThang", new { area = "", layout = "null", mode = "truyvan" }, FormMethod.Post, new { id = idFormTruyVan }))
        {
            <table class="table table-hover table-sm">
                <tbody>
                    <tr>
                        <td>
                            <!-- Từ ngày mặc định 01/tháng trước so với hiện tại; đến ngày là ngày hiện tại -->
                            Thời gian lập báo cáo Từ <input type="text" name="ngay1" class="clsdate" value="@DateTime.Now.AddMonths(-1).ToString("01/MM/yyyy")" />
                            đến <input type="text" class="clsdate" name="ngay2" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" onclick="postform('@idFormTruyVan', '', '@idViewTruyVan');" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Xem</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        <div id="@idViewTruyVan"></div>
    </div>
    <!-- Hiển thị các tiền trước nếu còn đang làm dỡ -->
    <div id="tabImport" class="tab-pane fade"></div>
</div>
<script>
    $(document).ready(function () {
        showgeturl('@Url.Action("Buoc1", "bcThang", new { area = "", layout = "null" })&idtarget=tabImport', 'tabImport');
    });
</script>