@{
    ViewBag.Title = "Cập nhật báo cáo tháng";
    if (Request.getValue("layout") == "null") { Layout = null; }
    if (ViewBag.Error != null)
    {
        <h2>@ViewBag.Title</h2>
        <div class="alert alert-warning">@ViewBag.Error</div>
        return;
    }
    var idFormBCT = "idbct" + DateTime.Now.toTimestamp().ToString();
    var item = ViewBag.data as Dictionary<string, string>;
}
<h2>@ViewBag.Title @ViewBag.id</h2>@using (Html.BeginForm("Update", "bcThang", new { area = "" }, FormMethod.Post, new { id = idFormBCT, target = "_blank" }))
{
    <input type="hidden" name="mode" value="update" />
    <input type="hidden" name="layout" value="null" />
    <input type="hidden" name="id" value="@ViewBag.id" />
    <input type="hidden" name="objectid" value="@ViewBag.id" />
    <table class="table table-hover table-sm">
        <tbody>
            <tr>
                <td colspan="2">
                    @Html.Label("x1", "Công tác ký hợp đồng KCB BHYT (x1):")
                    <br /><textarea name="x1" class="form-control">@item.getValue("x1")</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.Label("x33", "Công tác kiểm soát chi KCB BHYT (x33):")
                    <br /><textarea name="x33" class="form-control">@item.getValue("x33")</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.Label("x34", "Công tác đấu thầu thuốc (x34):")
                    <br /><textarea name="x34" class="form-control">@item.getValue("x34")</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.Label("x35", "Công tác quyết toán chi KCB BHYT (x35):")
                    <br /><textarea name="x35" class="form-control">@item.getValue("x35")</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.Label("x36", "Công tác khác (x36):")
                    <br /><textarea name="x36" class="form-control">@item.getValue("x36")</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.Label("x37", "Phương hướng công tác tháng sau (x37):")
                    <br /><textarea name="x37" class="form-control">@item.getValue("x37")</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.Label("x38", "Khó khăn, vướng mắc, đề xuất (nếu có) (x38):")
                    <br /><textarea name="x38" class="form-control">@item.getValue("x38")</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" onclick="postform('@idFormBCT');" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Lưu lại</button>
                </td>
            </tr>
        </tbody>
    </table>
}