@{
    ViewBag.Title = "Danh sách truy vấn báo cáo tuần";
    Layout = null;
    if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
        return;
    }
    if (ViewBag.data == null)
    {
        <div class="alert alert-danger">Không có dữ liệu hiển thị</div>
        return;
    }
    <div class="alert alert-info">Thông tin truy vấn: Tỉnh @ViewBag.matinh; từ ngày @ViewBag.ngay1 đến @ViewBag.ngay2</div>
    var data = ViewBag.data as DataTable;
    if (data.Rows.Count == 0)
    {
        <div class="alert alert-info">Không có dữ liệu phù hợp với truy vấn</div>
        return;
    }
    var dField = new Dictionary<string, string>() {
        { "ma_tinh", "Mã tỉnh" },
         { "userid", "Tên đăng nhập" },
         { "ngayGMT7", "Ngày báo cáo" },
         { "taoLanCuoi", "Cập nhật lần cuối" }
     };
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Tải về</th>
            @for (int i = 1; i < data.Columns.Count; i++)
            {
                <th>@dField.getValue(data.Columns[i].ColumnName, data.Columns[i].ColumnName)</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow r in data.Rows)
        {
            <tr data-id="@r[0]">
                <td><a href="@Url.Action("Tuan", "BaoCao", new { mode = "download", idobject = r[0] })"> <i class="fa fa-download"></i> </a></td>
                <td><a href="#" onclick="showgeturl('@Url.Action("BCTuanCreate", "BaoCao", new { area = "", objectid = r[0], layout = "null" })');">@r[1]</a></td>
                @for (int i = 2; i < data.Columns.Count; i++)
                {
                    <td>@r[i]</td>
                }
            </tr>
        }
    </tbody>
</table>