@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">@Html.Raw(ViewBag.Error)</div>
    return;
}
<div class="alert alert-info">Dữ liệu truy vấn báo cáo được tạo từ @Request.getValue("ngay1") đến @Request.getValue("ngay2")</div>
@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    var data = ViewBag.data == null ? new DataTable() : ViewBag.data as DataTable;
    if (data.Rows.Count == 0)
    {
        <div class="alert alert-info">Không có dữ liệu phù hợp với truy vấn</div>
        return;
    }
    var idform = "frmdel" + DateTime.Now.toTimestamp().ToString();
    var linkEdit = "";
    var userid = $"{Session["iduser"]}";
    var tmp = "";
}
@using (Html.BeginForm("Delete", "XML", new { area = "", layout = "null" }, FormMethod.Post, new { id = idform }))
{
    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th style="width: 65px;">Chọn</th>
                <th>IdThread</th>
                <th>Tập tin</th>
                <th>Trạng thái</th>
                <th>Khởi tạo lúc</th>
                <th>Hoàn thành lúc</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in data.Rows)
            {
                linkEdit = $"<a href=\"{Url.Action("Update", "XML", new { area = "", objectid = row["id"], layout = "null" })}\">{row["id"]}</a>";
                tmp = $"{row["time2"]}"; if(tmp != "0") { tmp = tmp.toDateTime().ToString("yyyy-MM-dd HH:mm:ss"); }
                <tr data-id="@row["id"]">
                    <td class="text-center"><input type="checkbox" class="custom-checkbox" name="id" value="@row["id"]" /></td>
                    <td>@Html.Raw(linkEdit)</td>
                    <td>@row["name"]</td>
                    <td>@row["title"]</td>
                    <td>@row["thoigian1"]</td>
                    <td>@tmp</td>
                </tr>
            }
        </tbody>
    </table>
}
<table class="table table-hover">
    <tbody>
        <tr>
            <td>
                <a href="#" onclick="postform('@idform')" class="btn btn-primary btn-sm"> <i class="fa fa-recycle"></i> Xoá báo cáo </a>
            </td>
        </tr>
    </tbody>
</table>