@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">@Html.Raw(ViewBag.Error)</div>
    return;
}
<div class="alert alert-info">Dữ liệu truy vấn báo cáo được tạo từ @Request.getValue("ngay1") đến @Request.getValue("ngay2"); Thread Abort: @ViewBag.threadabort</div>
@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    var data = ViewBag.data == null ? new DataTable() : ViewBag.data as DataTable;
    if (data.Rows.Count == 0)
    {
        <div class="alert alert-info">Không có dữ liệu phù hợp với truy vấn</div>
        return;
    }
    var idform = "frmdel" + DateTime.Now.toTimestamp().ToString();
    string linkEdit = "", pageindex = "0", time2 = "";
}
@using (Html.BeginForm("Delete", "XML", new { area = "", layout = "null" }, FormMethod.Post, new { id = idform }))
{
    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th style="width: 65px;">Chọn</th>
                <th>Khởi tạo lúc</th>
                <th>Hoàn thành lúc</th>
                <th>Trạng thái</th>
                <th>Thông báo</th>
                <th>Tập tin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in data.Rows)
            {
                time2 = $"{row["time2"]}";
                if (time2 != "0" && $"{row["title"]}" == "Hoàn thành")
                {
                    linkEdit = $"<a href=\"/XML/Update?objectid={row["id"]}\">{row["thoigian1"]}</a>";
                }
                else { linkEdit = $"{row["thoigian1"]}"; }
                if (time2 != "0") { time2 = time2.toDateTime().ToString("yyyy-MM-dd HH:mm:ss"); }
                <tr data-id="@row["id"]">
                    <td class="text-center"><input type="checkbox" class="custom-checkbox" name="id" value="@row["id"]" /></td>
                    <td>@Html.Raw(linkEdit)</td>
                    <td>@time2</td>
                    <td colspan="3">@row["title"]</td>
                </tr>
                <tr data-id="@row["id"]">
                    <td colspan="3">@Html.Raw($"{row["name"]}".Replace(",", "<br />"))</td>
                    @{
                        var tmp = $"{row["args2"]}"; if (tmp != "") { tmp = tmp.Substring(2); };
                    }
                    <td colspan="3">@Html.Raw(tmp.Replace(";", "<br />"))</td>
                </tr>
            }
        </tbody>
    </table>
}
<table class="table table-hover">
    <tbody>
        <tr>
            <td>
                <button type="button" onclick="postform('@idform')" class="btn btn-primary btn-sm"> <i class="fa fa-recycle"></i> Xoá báo cáo </button>
            </td>
        </tr>
    </tbody>
</table>