@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">@Html.Raw(ViewBag.Error)</div>
    return;
}
<div class="alert alert-info">Dữ liệu truy vấn báo cáo được tạo từ @Request.getValue("ngay1") đến @Request.getValue("ngay2")</div>
@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    var data = ViewBag.data == null ? new List<System.IO.FileInfo>() : ViewBag.data as List<System.IO.FileInfo>;
    if (data.Rows.Count == 0)
    {
        <div class="alert alert-info">Không có dữ liệu phù hợp với truy vấn</div>
        return;
    }
    var idform = "frmdel" + DateTime.Now.toTimestamp().ToString();
    var linkEdit = "";
    var userid = $"{Session["iduser"]}";
}
@using (Html.BeginForm("Delete", "XML", new { area = "", layout = "null" }, FormMethod.Post, new { id = idform }))
{
    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th style="width: 65px;">Chọn</th>
                <th>Mã báo cáo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (System.IO.FileInfo fi in data)
            {
                linkEdit = $"<a href=\"{Url.Action("Update", "XML", new { area = "", objectid = fi.FullName, layout = "null" })}\">{fi.Name}</a>";
                <tr data-id="@fi.Name">
                    <td class="text-center"><input type="checkbox" class="custom-checkbox" name="id" value="@fi.Name" /></td>
                    <td>@Html.Raw(linkEdit) [<a href="#" onclick="showgeturl('@Url.Action("Tai", "XML", new { idobject = fi.Name, layout = "null" })')"> <i class="fa fa-file-download"></i> </a>]</td>
                </tr>
            }
        </tbody>
    </table>
}
<table class="table table-hover">
    <tbody>
        <tr>
            <td>
                <a href="#" onclick="postform('@idform')" class="btn btn-primary btn-sm"> <i class="fa fa-recycle"></i> Xoá báo cáo </a>
            </td>
        </tr>
    </tbody>
</table>