@{
    ViewBag.Title = "Dữ liệu XML Thread " + Request.getValue("objectid");
    if (Request.getValue("layout") == "null") { Layout = null; }
    if (ViewBag.data != null)
    {
        <div class="alert alert-info">@ViewBag.content</div>
        var data = ViewBag.data as DataTable;
        if (data.Rows.Count == 0)
        {
            <div class="alert alert-danger">Không có dữ liệu truy vấn phù hợp</div>
            return;
        }
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    @foreach (DataColumn c in data.Columns)
                    {
                        <th>@c.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow r in data.Rows)
                {
                    <tr>
                        @foreach (DataColumn c in data.Columns)
                        {
                            <td>@r[c.ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        return;
    }
    if (ViewBag.Error != null)
    {
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
        <div class="alert alert-danger">@ViewBag.Error</div>
        return;
    }
    var idform = "frmad" + DateTime.Now.toTimestamp().ToString();
    var id = ViewBag.id;
    var f = new FileInfo(Path.Combine(AppHelper.pathAppData, "xml", $"t{Session["idtinh"]}", $"xml{id}.db"));
    var tables = ViewBag.tables as List<string>;
}
<style>
    .scroll-div {
        width: 100%; /* Đặt chiều rộng cho div */
        height: 548px; /* Đặt chiều cao cho div */
        overflow-y: scroll; /* Thêm cuộn dọc */
        overflow-x: scroll; /* Ẩn cuộn ngang nếu không cần thiết */
    }
</style>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tabHome"> <i class="fa fa-list"></i> Truy vấn dữ liệu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tabImport"> <i class="fa fa-file"></i> Kho lệnh SQL mẫu</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div id="tabHome" class="tab-pane active">
        <form id="@idform" method="post">
            <input name="layout" value="null" type="hidden" />
            <input name="mode" value="tsql" type="hidden" />
            <table class="table table-hover table-sm">
                <tbody>
                    <tr>
                        <td>
                            Chọn dữ liệu thao tác <select name="data" class="custom-select-sm"> <option value="@id">@f.Name (@f.Length.getFileSize())</option> </select>
                            <button type="button" class="btn btn-primary btn-sm" onclick="ShowHidenClass(this, 'showcols');"><i class="fa fa-eye-slash"></i> Hiển thị thông tin bảng</button>
                        </td>
                    </tr>
                    @foreach (var v in tables)
                    {
                        <tr class="showcols" style="display: none;"> <td> @v </td> </tr>
                    }
                    <tr>
                        <td>
                            TSQL <br />
                            <textarea name="tsql" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" onclick="thucThiTSQL('');"> <i class="fa fa-play"></i> Thực hiện</button>
                            <button type="button" class="btn btn-primary btn-sm" onclick="thucThiTSQL('xlsx');"> <i class="fa fa-file-excel"></i> Xuất Excel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div id="view_@idform" class="scroll-div"></div>
    </div>
    <!-- Hiển thị các tiền trước nếu còn đang làm dỡ -->
    <div id="tabImport" class="tab-pane fade">
        <table class="table table-sm table-hover">
            <tbody>
                <tr><td><button type="button" class="btn btn-primary btn-sm" onclick="showgeturl('/XML/StoreTSQL?mode=view&layout=null', 'dsstoretsql');"><i class="fa fa-play"></i> Tải lại</button></td></tr>
                <tr><td id="dsstoretsql">Không có danh sách nào được cập nhật</td></tr>
            </tbody>
        </table>
        <div id="viewupstoretsql">
            <div class="upload-area" id="uploadfile" data-urlpost="@Url.Action("StoreTSQL", "XML", new { area = "", layout = "null", mode="uptext" })" data-target="viewupstoretsql">
                <p class="text-center">Kéo và thả tập tin .txt, .sql chứa dữ liệu. vào khu vực này hoặc nhấp để chọn file</p>
            </div>
            <div id="fileDetails" class="mt-4">
                <h5>Danh sách tập tin đã chọn:</h5>
                <ul id="fileList" class="list-group"></ul>
            </div>
            <button id="uploadButton" class="btn btn-primary mt-3" disabled><i class="fa fa-plus"></i> Đẩy lên máy chủ</button>
        </div>
    </div>
</div>
<script>
    function ShowHidenClass(e, className) {
        if ($(e).find('i.fa-eye').length > 0) {
            $(e).html('<i class="fa fa-eye-slash"></i> Hiển thị thông tin bảng');
            $("." + className).css('display', 'none');
        } else {
            $(e).html('<i class="fa fa-eye"></i> Ẩn thông tin bảng');
            $("." + className).css('display', '');
        }
    }
    function thucThiTSQL(sender = "") {
        var frm = $('#@idform');
        var mode = 'tsql';
        if (typeof (sender) == 'string') { if (sender == "xlsx") { mode = 'xlsx'; } }
        frm.find('input[name="mode"]').val(mode);
        if (mode == 'xlsx') { mode = "_blank"; } else { mode = ""; }
        frm.attr('target', mode);
        if (mode != "") { $('#@idform').submit(); return; }
        postform('@idform', '', 'view_@idform');
    }
    $(document).ready(function () { drapDropFiles(".txt,.sql"); });
</script>